# <font color="maganta"><h3 align="center">Topic - Encoding Part 2</h3></font>

<h2 style = "color:brown" >Import Libraries</h2>

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, OrdinalEncoder
from pandas.core.dtypes.common import is_numeric_dtype
from sklearn.compose import ColumnTransformer
from termcolor import colored

import warnings
warnings.filterwarnings('ignore')

<h2 style = "color:brown" >Data Reading</h2>

In [2]:
df = pd.read_csv('insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [4]:
df.smoker.unique()

array(['yes', 'no'], dtype=object)

In [5]:
df.region.unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [6]:
df.sex.unique()

array(['female', 'male'], dtype=object)

In [7]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

<h2 style = "color:brown" >Encoding Techniques in ML</h2>

1. Label Encoder 
2. One Hot Encoder  
3. Ordinal Encoder

<h1 style = "color:green">1. Label Encoder</h1>

In [8]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()

<h3 style = "color:purple">1.1 Using fundamental approach</h3>

In [9]:
df1 = df.copy()

df1.sex = enc.fit_transform(df1[['sex']])
df1.smoker = enc.fit_transform(df1[['smoker']])
df1.region = enc.fit_transform(df1[['region']])

print(colored('Label Encoded DataFrame Using fundamental approach:\n',color='blue',attrs = ['bold','dark']))
print(colored(df1.head(),color= 'light_yellow'))

Label Encoded DataFrame Using fundamental approach:

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

<h3 style = "color:purple">1.2 Using 'for loop'</h3>

In [10]:
df2 = df.copy()
columns_to_encode = ['sex','smoker','region']

for col in columns_to_encode:
    df2[col] = enc.fit_transform(df2[[col]])
    
print(colored(f"Label Encoded DataFrame Using 'for loop':\n",color='blue',attrs = ['bold','dark']))
print(colored(df2.head(),color= 'light_yellow'))

Label Encoded DataFrame Using 'for loop':

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

<h3 style = "color:purple">1.2(b) Using 'for loop' with (is_numeric_dtype)</h3>

In [11]:
from pandas.core.dtypes.common import is_numeric_dtype

d2 = df.copy()

for col in d2.columns:
    if is_numeric_dtype(d2[col]):
        continue
    else:
        d2[col] = enc.fit_transform(d2[col])
        
print(colored(d2.head(),color = 'light_magenta'))

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

<h3 style = "color:purple">1.3 Using lambda function</h3>

In [12]:
df3 = df.copy()
columns_to_encode = ['sex','smoker','region']

df3[columns_to_encode] = df3[columns_to_encode].apply(lambda x: enc.fit_transform(x))

print(colored(f"Label Encoded DataFrame Using 'Lambda function':\n",color='blue',attrs = ['bold','dark']))
print(colored(df3.head(),color= 'light_yellow'))

Label Encoded DataFrame Using 'Lambda function':

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

<h3 style = "color:purple">1.3(b) Using lambda function with (is_numeric_dtype)</h3>

In [13]:
d3 = df.copy()

for col in d3.columns:
    if is_numeric_dtype(d3[col]):
        continue
    else:
        d3[col] = d3[[col]].apply(lambda x: enc.fit_transform(x))
        #lambda function works into dataframe not a array
        #if we use d3[col].apply, it doesn't work


print(colored(d3.head(),color= 'light_magenta'))

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

<h3 style = "color:purple">1.4 Label Encoding by Label Mapping</h3>

In [14]:
df_mapping = df.copy()
df_replace = df.copy()
df_comprehension = df.copy()

label_mapping = {
    'sex': {'female':1, 'male':4},
    'smoker': {'yes':0, 'no':1},
    'region': {'southwest':1, 'southeast':2, 'northwest':3, 'northeast':4}
}

columns_to_encode = ['sex','smoker','region']

#using map function:
for col in columns_to_encode:
    df_mapping[col] = df_mapping[col].map(label_mapping[col])
    
#using replace method:
for col in columns_to_encode:
    df_replace[col] = df_replace[col].replace(label_mapping[col])
    
#using list comprehension:
for col in columns_to_encode:
    df_comprehension[col] = [label_mapping[col][x] for x in df_comprehension[col]]
    

print(colored(F"Label Encoded DataFrame using 'Map function':\n", color= 'blue', attrs= ['bold']))
print(colored(df_mapping.head(),color= 'light_yellow'))
print(colored(F"\nLabel Encoded DataFrame using 'Replace method':\n", color= 'blue', attrs= ['bold']))
print(colored(df_replace.head(),color = 'light_red'))
print(colored(F"\nLabel Encoded DataFrame using 'list comprehension':\n", color= 'blue', attrs= ['bold']))
print(colored(df_comprehension.head(), color = 'light_yellow'))

Label Encoded DataFrame using 'Map function':

   age  sex     bmi  children  smoker  region      charges
0   19    1  27.900         0       0       1  16884.92400
1   18    4  33.770         1       1       2   1725.55230
2   28    4  33.000         3       1       2   4449.46200
3   33    4  22.705         0       1       3  21984.47061
4   32    4  28.880         0       1       3   3866.85520

Label Encoded DataFrame using 'Replace method':

   age  sex     bmi  children  smoker  region      charges
0   19    1  27.900         0       0       1  16884.92400
1   18    4  33.770         1       1       2   1725.55230
2   28    4  33.000         3       1       2   4449.46200
3   33    4  22.705         0       1       3  21984.47061
4   32    4  28.880         0       1       3   3866.85520

Label Encoded DataFrame using 'list comprehension':

   age  sex     bmi  children  smoker  region      charges
0   19    1  27.900         0       0       1  16884.92400
1   18    4  33.770         1       1       2   1725.55230
2   28    4  33.000         3       1       2   4449.46200
3   33    4  22.705         0       1       3  21984.47061
4   32    4  28.880         0       1       3   3866.85520

<h1 style = "color:green">2. One Hot Encoder</h1>

<h3 style = "color:indigo">2.1 Using dummy variables</h3>

In [16]:
df4 = df.copy()
columns_to_encode = ['sex','smoker','region']

#creating dummy variables
dummy = pd.get_dummies(df4[['sex','smoker','region']])
#dummy = pd.get_dummies(df4[['sex','smoker','region']], columns = columns_to_encode, prefix = columns_to_encode)

#concatenate dummy variable with main df
encoded_df4 = pd.concat([df4.drop(['sex','smoker','region'],axis=1),dummy], axis=1)

In [17]:
dummy.head()

,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,1,0,0,1,0,0,0,1
1,0,1,1,0,0,0,1,0
2,0,1,1,0,0,0,1,0
3,0,1,1,0,0,1,0,0
4,0,1,1,0,0,1,0,0

In [18]:
encoded_df4.head()

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,1,0,0,1,0,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0,0,0,1,0
2,28,33.000,3,4449.46200,0,1,1,0,0,0,1,0
3,33,22.705,0,21984.47061,0,1,1,0,0,1,0,0
4,32,28.880,0,3866.85520,0,1,1,0,0,1,0,0

<h3 style = "color:indigo">2nd Way: Easiest way</h3>

In [19]:
df_dummy = pd.get_dummies(df)
df_dummy.head()

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,1,0,0,1,0,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0,0,0,1,0
2,28,33.000,3,4449.46200,0,1,1,0,0,0,1,0
3,33,22.705,0,21984.47061,0,1,1,0,0,1,0,0
4,32,28.880,0,3866.85520,0,1,1,0,0,1,0,0

<h3 style = "color:indigo">2.2 Using OneHotEncoder() with 'For loop'</h3>

In [15]:
from sklearn.preprocessing import OneHotEncoder
enc2 = OneHotEncoder()

In [20]:
df5 = df.copy()
columns_to_encode = ['sex','smoker','region']

#Create a new DataFrame to store the encoded columns
df_hotcoded = pd.DataFrame()

for col in columns_to_encode:
    onehot = enc2.fit_transform(df5[[col]])
    feature_names = enc2.get_feature_names_out([col])
    onehot_df = pd.DataFrame(onehot.toarray(), columns=feature_names)
    df_hotcoded = pd.concat([df_hotcoded,onehot_df], axis=1)
    
encoded_df5 = pd.concat([df5.drop(['sex','smoker','region'],axis=1), df_hotcoded], axis=1)
encoded_df5.head(4)

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,18,33.770,1,1725.55230,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
2,28,33.000,3,4449.46200,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
3,33,22.705,0,21984.47061,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0

<h3 style = "color:indigo">2.2 Using OneHotEncoder() with 'Column Transformer'</h3>

In [21]:
from sklearn.compose import ColumnTransformer

df6 = df.copy()
columns_to_encode = ['sex','smoker','region']

# Create a ColumnTransformer
col_transformer = ColumnTransformer(
    [('hot', enc2, columns_to_encode)],
    remainder='passthrough')  # keep other columns unchanged

transformed_data = col_transformer.fit_transform(df6)

feature_names = col_transformer.get_feature_names_out()

encoded_df6 = pd.DataFrame(transformed_data,columns=feature_names)
encoded_df6.head(4)

,hot__sex_female,hot__sex_male,hot__smoker_no,hot__smoker_yes,hot__region_northeast,hot__region_northwest,hot__region_southeast,hot__region_southwest,remainder__age,remainder__bmi,remainder__children,remainder__charges
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,19.0,27.900,0.0,16884.92400
1,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,18.0,33.770,1.0,1725.55230
2,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,28.0,33.000,3.0,4449.46200
3,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,33.0,22.705,0.0,21984.47061

In [22]:
#Rename the columns of above DataFrame:

# Get the feature names after one-hot encoding
feature_names2 = col_transformer.named_transformers_['hot'].get_feature_names_out(columns_to_encode)
#feature_names2 = col_transformer.named_transformers_['hot'].get_feature_names_out()

# Combine feature names with remaining column names
all_column_names = list(feature_names2) + list(df6.columns.drop(columns_to_encode))
#all_column_names = list(feature_names) + ['age', 'bmi', 'children', 'charges']

encoded_df6_new = pd.DataFrame(transformed_data,columns=all_column_names)
encoded_df6_new.head(4)

,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest,age,bmi,children,charges
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,19.0,27.900,0.0,16884.92400
1,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,18.0,33.770,1.0,1725.55230
2,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,28.0,33.000,3.0,4449.46200
3,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,33.0,22.705,0.0,21984.47061

<h1 style = "color:green">3. Ordinal Encoder</h1>

In [23]:
from sklearn.preprocessing import OrdinalEncoder
ordinal = OrdinalEncoder()

In [24]:
df7 = df.copy()
columns_to_encode = ['sex','smoker','region']

#using 'for loop':
for col in columns_to_encode:
    df7[col] = ordinal.fit_transform(df7[[col]])
    
    
print(colored(f"Ordinal Encoded DataFrame Using 'for loop':\n",color='blue',attrs = ['bold','dark']))
print(colored(df7.head(),color= 'light_yellow'))

Ordinal Encoded DataFrame Using 'for loop':

   age  sex     bmi  children  smoker  region      charges
0   19  0.0  27.900         0     1.0     3.0  16884.92400
1   18  1.0  33.770         1     0.0     2.0   1725.55230
2   28  1.0  33.000         3     0.0     2.0   4449.46200
3   33  1.0  22.705         0     0.0     1.0  21984.47061
4   32  1.0  28.880         0     0.0     1.0   3866.85520

<h1 style = "color:coral">Three Encoder perform three different columns separately</h1>

In [25]:
df8 = df.copy()

#we want to perform => [('sex', LabelEncoder()), ('smoker', OneHotEncoder()), ('region', OrdinalEncoder())]

#Label Encoding
df8.sex = LabelEncoder().fit_transform(df8[['sex']])

#Ordinal Encoding
df8.region = OrdinalEncoder().fit_transform(df8[['region']])

#OneHot Encoding
dummy_var = pd.get_dummies(df8[['smoker']], prefix = 'somker')

encoder_df8 = pd.concat([df8.drop('smoker',axis = 1),dummy_var],axis =1)

print(colored('Hibrid Encoded DataFrame:\n', color = 'blue', attrs = ['bold','dark']))
print(colored(encoder_df8.head(),color = 'light_yellow'))

Hibrid Encoded DataFrame:

   age  sex     bmi  children  region      charges  somker_no  somker_yes
0   19    0  27.900         0     3.0  16884.92400          0           1
1   18    1  33.770         1     2.0   1725.55230          1           0
2   28    1  33.000         3     2.0   4449.46200          1           0
3   33    1  22.705         0     1.0  21984.47061          1           0
4   32    1  28.880         0     1.0   3866.85520          1           0