# <font color="maganta"><h3 align="center">Train Test Split</h3></font>

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("Dhaka Rent.csv")
df.head()

   area   rent
0  2000  31500
1  2100  35000
2  2500  41050
3  2250  36100
4  3000  52100

In [3]:
df.shape # row, col

(60, 2)

In [4]:
#missing checking
df.isnull().sum()

area    0
rent    0
dtype: int64

In [5]:
df['area'].head()

0    2000
1    2100
2    2500
3    2250
4    3000
Name: area, dtype: int64

In [6]:
df[['rent']].head()

    rent
0  31500
1  35000
2  41050
3  36100
4  52100

In [7]:
X = df[['area']]  #2D
x = df['area']    #1D
Y = df[['rent']]  #2D
y = df['rent']    #1D

<h1 style = "color:green" >Split dataset for training 70% and testing 30%</h1>

In [8]:
#https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

In [9]:
from sklearn.model_selection import train_test_split

xtrain, xtest, ytrain, ytest = train_test_split(X, Y, test_size=.30, random_state=42)

In [10]:
xtrain.head()

    area
40  2150
4   3000
43  2510
19  2700
34  3000

In [22]:
ytrain.head()

     rent
40  34400
4   52100
43  40000
19  47000
34  52200

In [12]:
X.shape, xtrain.shape, xtest.shape

((60, 1), (42, 1), (18, 1))

In [13]:
y.shape, ytrain.shape, ytest.shape

((60,), (42, 1), (18, 1))

<h1 style = "color:green" >Train Model</h1>

In [14]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()

In [15]:
reg.fit(xtrain, ytrain) #training

LinearRegression()

In [16]:
reg.coef_

array([[20.68636687]])

In [17]:
reg.intercept_

array([-10252.90474034])

In [18]:
pred_rent = reg.predict(xtest) # corrsponding to ytest(actual)
pred_rent

array([[31119.82900279],
       [29051.19231563],
       [20776.64556701],
       [53874.83256151],
       [41669.87610729],
       [47668.92250004],
       [36291.42072068],
       [26982.55562848],
       [33188.46568994],
       [26982.55562848],
       [26982.55562848],
       [33395.32935866],
       [33188.46568994],
       [36291.42072068],
       [62149.37931013],
       [21810.96391059],
       [45600.28581288],
       [20776.64556701]])

In [19]:
df_test = pd.concat([xtest,ytest],axis=1)
df_test['pred_rent'] = reg.predict(xtest)
df_test

    area   rent     pred_rent
0   2000  31500  31119.829003
5   1900  32500  29051.192316
36  1500  20200  20776.645567
45  3100  51000  53874.832562
13  2510  40050  41669.876107
54  2800  51000  47668.922500
33  2250  35100  36291.420721
48  1800  25500  26982.555628
12  2100  34500  33188.465690
57  1800  25100  26982.555628
46  1800  30000  26982.555628
50  2110  31000  33395.329359
31  2100  35010  33188.465690
3   2250  36100  36291.420721
52  3500  70500  62149.379310
17  1550  21000  21810.963911
8   2700  48000  45600.285813
6   1500  20000  20776.645567

In [20]:
#training accuracy
reg.score(xtrain, ytrain)

0.9471905709752625

In [21]:
#testing accuracy
reg.score(xtest, ytest)

0.9515542918540623